footer {
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
  z-index: -10; }
  footer .links {
    display: inline-block; }
    footer .links .link {
      float: left;
      width: 30px;
      opacity: 0.5;
      padding: 5px;
      margin-top: 21px;
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      color: #fff;
      font-size: 0.5em; }
      footer .links .link:hover {
        opacity: 0.8; }
      footer .links .link svg {
        width: 100%; }
  footer .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background: url("/images/header/line.png"); }
    footer .line.line-h {
      width: 100%; }
  @media (min-height: 600px) {
    footer {
      position: fixed;
      bottom: 0; } }
