* html .group {
  zoom: 1;
  border: 1px solid red; }

*:first-child + html .group {
  zoom: 1; }

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

.no-wrap {
  white-space: nowrap; }

.box {
  display: table; }
  .box .box-middle {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%; }

.page.experience .page-card section.delivery {
  padding-bottom: 50px; }
  .page.experience .page-card section.delivery .content .text-3 .inner {
    padding-left: 40px;
    padding-right: 40px; }
    .page.experience .page-card section.delivery .content .text-3 .inner p {
      margin-bottom: 40px; }
  @media (min-width: 1000px) {
    .page.experience .page-card section.delivery .content .text-3 {
      float: left;
      width: 33.33%; }
      .page.experience .page-card section.delivery .content .text-3 .inner {
        padding: 40px; } }

.page.experience .page-card section.dev-list {
  display: block; }
  .page.experience .page-card section.dev-list .lists {
    padding: 20px; }
    .page.experience .page-card section.dev-list .lists .list {
      padding: 20px;
      list-style: none; }
      .page.experience .page-card section.dev-list .lists .list li {
        margin-bottom: 10px; }
        .page.experience .page-card section.dev-list .lists .list li.title {
          font-weight: 400; }
  @media (max-width: 999px) {
    .page.experience .page-card section.dev-list .lists .list:not(:first-child) {
      border-top: 1px solid #e5e5e5; } }
  @media (min-width: 1000px) {
    .page.experience .page-card section.dev-list .lists {
      margin: auto;
      max-width: 1200px; }
      .page.experience .page-card section.dev-list .lists .list {
        float: left;
        width: 180px;
        height: 230px;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 40px; } }

@media (min-height: 600px) {
  [data-page="/experience"] #pages {
    bottom: 0; } }

@media (min-height: 600px) {
  [data-page="/experience"] footer {
    position: relative; } }
