@import '../_utils';

.page {
    &.home {
        .main-links {
            width: 100%;
            height: 90%;

            .bio {
                position: absolute;
                top: 50px;
                width: 100%;

                .content {
                    width: 50%;
                    margin: auto;
                    top: 0;
                    color: #ffffff;
                    font-size: 1.2em;
                    font-weight: 400;

                    .header-title {
                        margin-bottom: 20px;
                    }

                    .header-text {
                        font-weight: 300;
                        font-size: 1em;
                        line-height: 1.7em;
                    }
                }
            }

            @media(max-width: 1099px){
                .bio {
                    .content {
                        width: 80%;
                        font-size: 1.1em;
                    }

                    .header-title {
                        margin-bottom: 18px;
                    }

                    .header-text {
                        line-height: 1.5em;
                    }
                }

                .link {
                    margin-top: 100px;
                }
            }

            .navs {
                position: absolute;
                width: 100%;
            }

            .link {
                display: block;
                margin: auto;
                text-align: center;
                opacity: 0.6;
                -webkit-transition: opacity 0.3s;
                -moz-transition: opacity 0.3s;
                -o-transition: opacity 0.3s;
                transition: opacity 0.3;
                cursor: pointer;
                color: #ffffff;
                margin-top: 0;

                .link-content {
                    position: relative;
                    display: inline-block;
                    padding: 30px;
                    padding-top: 80px;
                    padding-bottom: 80px;
                    -webkit-transition: transform 0.5s;
                    -moz-transition: transform 0.5s;
                    -o-transition: transform 0.5s;
                    transition: transform 0.5s;
                    transform: scale(0.97);

                    .number {
                        float: left;
                        margin-right: 10px;
                        font-size: 2em;
                        font-weight: 900;
                    }

                    .title {
                        display: inline-block;

                        .label {
                            font-size: 2em;
                            font-weight: 300;
                        }

                        .description {
                            font-weight: 300;
                            margin-top: 10px;
                        }
                    }
                }

                &:hover {
                    opacity: 1;

                    .link-content {
                        transform: scale(1)
                    }
                }

                @media(max-width: 400px) {
                    opacity: 1;
                }

                @media(max-width: 1099px){
                    width: 100%;
                    max-width: 320px;

                    &.my-history {
                        border-bottom: 1px solid rgba(255,255,255,0.2);
                        margin-top: 0;
                    }

                    &.my-experience {
                        border-bottom: 1px solid rgba(255,255,255,0.2)
                    }
                }

                @media(min-width: 1100px){
                    display: inline-block;

                    .link-content {
                        padding-left: 50px;
                        padding-right: 50px;

                        .number {
                            font-size: 2.4em;
                        }

                        .title {
                            text-align: center;

                            .label {
                                font-size: 2.4em;
                            }
                        }
                    }

                    &.my-history {
                        border-right: 1px solid rgba(255,255,255,0.2)
                    }

                    &.my-experience {
                        border-right: 1px solid rgba(255,255,255,0.2)
                    }
                }

                @media(min-width: 1300px) {
                    .link-content {
                        padding-left: 70px;
                        padding-right: 70px;
                    }
                }
            }

            .box-middle {

            }
        }
    }
}
