//group
* html .group {
    zoom: 1;
    border: 1px solid red;
}

*:first-child+html .group {
    zoom:1;
}

.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.no-wrap {
    white-space: nowrap;
}

.box {
    display: table;

    .box-middle {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }
}
